.background {
    background-color: #bfb7d5;
    width: 600px;
    height: 600px;
    margin-inline: 330px;
    margin-block: 60px; 
    padding-block: 60px;
} 

.img {
    width: 400px;
    height: 550px;
    background: white;
    margin-inline: 100px;
    margin-block: -20px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    margin: 0;
    width: 400px;
    height: 350px;
    position: relative;
}

.top-left {
    width: 160px;
    height: 38px;
    z-index: 1;
    margin-block: -10px;
    margin-inline: 93px;
    position: absolute;
    background-color: rgb(249, 249, 173);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

p {
    margin: 0;
    padding-inline: 10px;
    padding-block: 10px;
}

.different{
    padding-inline: 20px;
    padding-block: 20px;
}

span {
    font-size: 20px;
}

.content {
    padding-inline: 40px;
}




  